@model CrowdFundingProject.Models.Company

<h2>Create new project</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name, "Name")
    <br />
    @Html.EditorFor(model => model.Name)
    <br />
    <br />
    @Html.LabelFor(model => model.ShortDescription, "ShortDescription")
    <br />
    @Html.EditorFor(model => model.ShortDescription)
    <br />
    <br />
    @Html.LabelFor(model => model.LongDescription, "LongDescription")
    <br />
    @Html.EditorFor(model => model.LongDescription)
    <br />
    <br />
    @Html.LabelFor(model => model.ImageLink, "Img")
    <br />
    @Html.EditorFor(model => model.ImageLink)
    <br />
    <input type="submit" value="Create" />
} 